/*------------------------------------
  File for your custom SCSS style
------------------------------------*/

.code {
  font-family: 'Fira Code', Courier, monospace;
}

.js-copy-to-clip {
  padding-left: .5rem;
  font-size: 90%;
  color: rgba(16, 126, 244, 0.5);
  transition: color .16s linear;
  opacity: 0;

  &:hover {
    color: rgba($primary, 1);
    text-decoration: none;
  }
  h1:hover &,
  h2:hover &,
  h3:hover &,
  h4:hover & {
    opacity: 1;
  }
}
